!!! 5
%html
  %head
    %title USER PROFILE
    %meta{ :content => "width = device-width initial-scale = 1", :name => "viewport"}
    %link{ :href => "../CSS/styles-accelerometer.css", :media => "screen", :rel => "stylesheet" }
  %body
    %h1 ACCELEROMETER
    %div.container
      %div.box
    %script{:src => "../JS/script-accelerometer.js"}
    %script{:src => "../JS/script-centerer.js"}
