!!! 5
%html
  %head
    %title= "PARALLAX"
    %meta{ :content => "width = device-width initial-scale = 1", :name => "viewport"}
    %link{ :href => "../CSS/styles-centerer.css", :media => "screen", :rel => "stylesheet" }
  %body
    %h1 CENTERER
    %section
      %video{:src => "../VIDEO/videotest.mp4", :class => "box" , :loop => true, :autoplay => true}

    %script{:src => "../JS/script-centerer.js"}
