!!! 5
%html
  %head
    %title= "HAMBURGER MENU"
    %meta{ :content => "width = device-width initial-scale = 1", :name => "viewport"}
    %link{ :href => "../CSS/styles-hamburger.css", :media => "screen", :rel => "stylesheet" }
  %body
    %h1 HAMBURGER MENU
    %div.icon_container
      %div.line
    %nav.nav_inactive
      %span{:class => "showtext"}
      %div{:class => "nav_containerbuttons"}
        %a{:href => "index.html", :class => "nav_button"} JUAN
        %a{:href => "index.html", :class => "nav_button"} LINA
        %a{:href => "index.html", :class => "nav_button"} PABLO
        %a{:href => "index.html", :class => "nav_button"} ANDRES
        %a{:href => "index.html", :class => "nav_button"} PANCHO
        %a{:href => "index.html", :class => "nav_button"} MIGUEL
        %a{:href => "index.html", :class => "nav_button"} LUIS
    %script{:src => "../JS/script-hamburger.js"}
