!!! 5
%html
  %head
    %title= "MY WEB COMPONENTS"
    %meta{ :content => "width = device-width initial-scale = 1", :name => "viewport"}
    %link{ :href => "../CSS/styles.css", :media => "screen", :rel => "stylesheet" }
  %body
    %h1.indexTitle MY WEB COMPONENTS JS
    %ul.indexListContainer
      -# %li.indexList
      -#   %a{:href => "lightbox.html"} LIGHTBOX
      %li.indexList
        %a{:href => "slider.html"} SLIDER
      %li.indexList
        %a{:href => "sticky.html"} STICKY
      %li.indexList
        %a{:href => "hamburger.html"} HAMBURGER MENU
      %li.indexList
        %a{:href => "userimage.html"} USER IMAGE
      %li.indexList
        %a{:href => "videoplay.html"} VIDEO PLAY
      %li.indexList
        %a{:href => "accelerometer.html"} ACCELEROMETER
      -# %li.indexList
      -#   %a{:href => "tab.html"} TAB NAVIGATION
      -# %li.indexList
      -#   %a{:href => "parallax.html"} PARALLAX
      %li.indexList
        %a{:href => "centerer.html"} CENTER
      %li.indexList
        %a{:href => "videowidth.html"} FULL WIDTH VIDEO
      %li.indexList
        %a{:href => "preload.html"} PRELOAD
      %li.indexList
        %a{:href => "slideshow.html"} SLIDESHOW
