!!!5
%html
  %head
    %title PRELOAD
    %meta{ :content => "width = device-width initial-scale = 1", :name => "viewport"}
    %link{ :href => "../CSS/styles-preload.css", :media => "screen", :rel => "stylesheet" }
  %body
    %div{:class => "loadPage"}
      %img{:class => "loadingImage", :src => "../IMAGES/GLOBAL/preload.gif"}
    %h1 PRELOAD
    %section
      %video{:class => "fluid",:controls => true}
        %source{:src => "../VIDEO/videotest.mp4"}
    %script{:src => "../JS/script-preload.js"}
