!!!5
%html
  %head
    %title  SLIDESHOW
    %meta{ :content => "width = device-width initial-scale = 1", :name => "viewport"}
    %link{ :href => "../CSS/styles-slideshow.css", :media => "screen", :rel => "stylesheet" }
  %body
    %h1 SLIDESHOW
    %div{:class => "slideContainer"}
      %div{:class => "slide blue"}
        %h1 ARROW RIGHT
      %div{:class => "slide green"}
        %h1 ARROW LEFT
      %div{:class => "slide yellow"}
        %h1 USE THE ARROWS
      %div{:class => "slide"}
        %div{:class => "middle blue"}
        %div{:class => "middle yellow"}
          %h1 TWO SECTIONS
      %div{:class => "slide green"}
        %h1 ONE MORE
      %div{:class => "slide yellow"}
        %h1 END, SENPAI ＼(≧▽≦)／

    %script{:src => "../JS/script-slideshow.js"}
