!!! 5
%html
  %head
    %title= "STICKY"
    %meta{ :content => "width = device-width initial-scale = 1", :name => "viewport"}
    %link{ :href => "../CSS/styles-sticky.css", :media => "screen", :rel => "stylesheet" }
  %body
    %h1 STICKY
    %header
    %nav
      %li Lorem ipsum...
      %li Lorem ipsum...
      %li Lorem ipsum...
      %li Lorem ipsum...
    %div{:class => "content_scroll"}
    %script{:src => "../JS/script-sticky.js"}
