html
  head
    title ACCELEROMETER
    meta(content='width = device-width initial-scale = 1', name='viewport')
    link(href='../CSS/styles-accelerometer.css', media='screen', rel='stylesheet')
  body
    h1 ACCELEROMETER
    .container
      .box
    script(src='../JS/script-accelerometer.js')
    script(src='../JS/script-centerer.js')
