doctype html
html
  head
    title AUTOCOMPLETE
    meta(content='width = device-width initial-scale = 1', name='viewport')
    link(href='../CSS/styles-autocomplete.css', media='screen', rel='stylesheet')
  body
    input.tar(type="text")
    script(src="../JS/script-autocomplete.js")
