doctype html
html
  head
    title PARALLAX
    meta(content='width = device-width initial-scale = 1', name='viewport')
    link(href='../CSS/styles-centerer.css', media='screen', rel='stylesheet')
  body
    h1 CENTERER
    section
      video.box(autoplay='', loop='', src='../VIDEO/videotest.mp4')
    script(src='../JS/script-centerer.js')
