doctype html
html
  head
    title HAMBURGER MENU
    meta(content='width = device-width initial-scale = 1', name='viewport')
    link(href='../CSS/styles-hamburger.css', media='screen', rel='stylesheet')
  body
    
    div.menu.nav-active.nav-inactive
      span.showtext
      .menu_containerbuttons
        a.menu_button(href='index.html') PUT
        a.menu_button(href='index.html') YOUR
        a.menu_button(href='index.html') OPTIONS
        a.menu_button(href='index.html') HERE
        a.menu_button(href='index.html') SENPAI
        a.menu_button(href='index.html') :3
    nav
      .icon_container
        .line
    section.demo_section
    script(src='../JS/script-hamburger.js')
