doctype html
html
  head
    title HAMBURGER MENU
    meta(content='width = device-width initial-scale = 1', name='viewport')
    link(href='../CSS/styles-hamburger.css', media='screen', rel='stylesheet')
  body
    h1 HAMBURGER MENU
    .icon_container
      .line
    nav.nav_inactive
      span.showtext
      .nav_containerbuttons
        a.nav_button(href='index.html') JUAN
        a.nav_button(href='index.html') LINA
        a.nav_button(href='index.html') PABLO
        a.nav_button(href='index.html') ANDRES
        a.nav_button(href='index.html') PANCHO
        a.nav_button(href='index.html') MIGUEL
        a.nav_button(href='index.html') LUIS
    script(src='../JS/script-hamburger.js')
