doctype html
html
  head
    title SLIDER
    meta(content='width = device-width initial-scale = 1', name='viewport')
    link(href='../CSS/styles-slider.css', media='screen', rel='stylesheet')
  body
    .slider
      .slider_containerImages
        .slide.red
          img(src='../IMAGES/SLIDER/1.png')
        .slide.blue
          img(src='../IMAGES/SLIDER/2.png')
        .slide.yellow
          img(src='../IMAGES/SLIDER/3.png')
        .slide.green
          img.right(src='../IMAGES/SLIDER/4.png')
      ul.containerControls
    script(src='../JS/script-slider-demo.js')
