doctype html
html
  head
    title SLIDESHOW
    meta(content='width = device-width initial-scale = 1', name='viewport')
    link(href='../CSS/styles-slideshow.css', media='screen', rel='stylesheet')
  body
    h1 SLIDESHOW
    .slideContainer
      .slide.blue
        h1 ARROW RIGHT
      .slide.green
        h1 ARROW LEFT
      .slide.yellow
        h1 USE THE ARROWS
      .slide
        .middle.blue
        .middle.yellow
          h1 TWO SECTIONS
      .slide.green
        h1 ONE MORE
      .slide.yellow
        h1 END, SENPAI ＼(≧▽≦)／
    script(src='../JS/script-slideshow.js')
