doctype html
html
  head
    title TABS NAVIGATION
    meta(content='width = device-width initial-scale = 1', name='viewport')
    link(href='../css/styles-tabs.css', media='screen', rel='stylesheet')
  body
    h1 TABS NAVIGATION
    .tabContainer
      .selectionsContainer
        .option_tab 1
        .option_tab 2
        .option_tab 3
        .option_tab 4
        .option_tab 5
      .changeSection
        .section_tab 1
        .section_tab 2
        .section_tab 3
        .section_tab 4
        .section_tab 5
    script(src='../js/script-tabs.js')
